# App
NODE_ENV=development
PORT=4000

# Database
DB_HOST=postgres
DB_PORT=5432
DB_USER=admin
DB_PASS=securepassword
DATABASE_URL="postgresql://admin:securepassword@postgres:5432/stream_db?schema=public"

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Security
JWT_SECRET=complex_secret_key_change_this
JWT_REFRESH_SECRET=complex_refresh_secret
ADMIN_SECRET_ROUTE=/super-secret-admin-portal

# External APIs
TMDB_API_KEY=your_tmdb_key_here
